* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'fraunces', sans-serif;
}

.container {
  box-shadow: -13px 10px 45px -7px rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem;
  display: grid;
  grid-template-areas:
    'a a a a'
    'a a a a'
    'b b c c'
    'd d e e'
    'f f g g'
    'h h h h'
    'h h h h'
    'i i j j'
    'k k k k';
  /* gap: 10px; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
}

/*fonts */
h3,
h5 {
  color: #192535;
}
a {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}
p {
  color: #9592a3;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
h3 {
  color: #263137;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
h4 {
  color: #245c51;
}
.boxG p,
.boxF p {
  color: #3b7368;
}
/* background color for boxB, boxE, boxH */
.boxB,
.boxE,
.boxH {
  background-color: #fff;
}

.boxA {
  grid-area: a;
  background-image: url('./images/desktop/image-header.jpg');
  background-position: center;
  background-size: 100% 100%;
}
.boxA * {
  color: white;
}
.boxA h1 {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.boxA h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  word-spacing: 0.375rem;
}

.boxA > nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 0 1.25rem;
  height: 20%;
}

.boxA > nav ul {
  /* border: 1px solid; */
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.roundBorder {
  color: black;
  background-color: white;
  padding: 0.0625rem 0.4375rem;
  border-radius: 1.5625rem;
}
.boxA > div {
  height: 80%;
  padding-top: 5%;
  text-align: center;
  /* border: 1px solid black; */
  position: relative;
}
.boxA > div img {
  width: 20px;
  position: absolute;
  top: 35%;
}

.boxB {
  grid-area: b;
}
.boxB,
.boxE {
  padding: 8% 11% 0 11%;
}

.boxB a,
.boxE a {
  color: #383f47;
  border-bottom: 3px solid yellow;
  border-radius: 4px;
}
.boxB p,
.boxE p {
  margin: 1.5rem 0;
}
.boxC {
  grid-area: c;
  background-image: url('./images/desktop/image-transform.jpg');
  background-position: center;
  background-size: 100% 100%;
}

.boxD {
  grid-area: d;
  background-image: url('./images/desktop/image-stand-out.jpg');
  background-position: center;
  background-size: 100% 100%;
}
.boxE {
  grid-area: e;
}
.boxF {
  grid-area: f;
  background-image: url('./images/desktop/image-graphic-design.jpg');
  background-position: center;
  background-size: 100% 100%;
}
.boxG {
  grid-area: g;
  background-image: url('./images/desktop/image-photography.jpg');
  background-position: center;
  background-size: 100% 100%;
}

/* .boxF,
.boxG {
  position: relative;
} */
.boxF h4,
.boxG h4 {
  margin-bottom: 1rem;
}
.boxF-GText {
  /* border: 1px solid; */
  position: relative;
  text-align: center;
  top: 50%;
  padding: 1.875rem 2.5rem 0 2.5rem;
}
.boxH {
  grid-area: h;
}
.boxH > h4 {
  /* border: 1px solid; */
  height: 20%;
  padding-top: 3rem;
  text-align: center;
}
.boxH > .testimony {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80%;
}
.boxH p {
  margin-bottom: 2.5rem;
}
.boxH h5 {
  margin-bottom: 0.7rem;
}
.testimony > div {
  padding: 2.5rem 1.25rem;
  /* border: 1px solid green; */
  text-align: center;
}
.testimony > div img {
  border-radius: 50%;
  width: 50px;
  margin-bottom: 2rem;
}
.boxI {
  grid-area: i;
  display: flex;
}
.boxI-x {
  background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}
.boxI-y {
  background-image: url('./images/desktop/image-gallery-orange.jpg');
}
.boxI > section,
.boxJ > section {
  /* border: 1px solid green; */
  width: 50%;
  background-position: center;
  background-size: 100% 100%;
}
.boxJ {
  grid-area: j;
  display: flex;
}
.boxJ-x {
  background-image: url('./images/desktop/image-gallery-cone.jpg');
}
.boxJ-y {
  background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
}
.boxK {
  grid-area: k;
  /* padding-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #90d4c5;
}
.boxK * {
  text-align: center;
  color: #3c8373;
}
.boxK > div {
  margin: 1rem auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.boxK > div + div {
  width: 20%;
}
